 {% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'materialize-css/dist/css/materialize.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">

    <title>{{title}}</title>
</head>
<body>
<div class="display-4">
    <center>
        <header class="container center-align"><h1>User Accounts</h1></header>
    </center>
</div>
<div class="jumbotron pull-center">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>